* {
    margin: 0;
    padding: 0;
  }

html{
      height: 100%;
  }

body{
    background-image: url("../Images/connectwork.png");
    height: 100%;
}

/* Header and Nav bar styling */
header{
    width: 100%;
    background-color: darkslategray;
    position: fixed;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}

.name{
    color: whitesmoke;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 60px;
    margin-bottom: -8px;
    padding-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar{
    height:60px;
}

.content-area{
    margin-top: 60px;
}
.wrapper{
    min-height: 100%;
}

.about-me{
    margin-top: 15px;
}

.section-title{
    border-bottom: 2px solid lightgray;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-top: 20px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.article{
    padding: 20px;
    background-color: darkslategray;
    color:whitesmoke;
    overflow: auto;
}

/* Portfolio Page */

.thumbnail{
    height: 311.26px;
    width: 100%;
}

.thumb-title{
    background-color:rgba(74,170,165,.8);
    color: white;
    position: relative;
    text-align: center;
    width:100%;
    bottom: 60px;
}

.info-input {
    margin-top: 10px;
}

.message{
    margin-top: 10px;
}

.submit {
    margin-top: 20px;
}

form{
    overflow: auto;
}

/* footer */

.teal-div {
     background-color: #4aaaa5;
     height: 10px;
     width: 100%;
 }

.sticky-footer{
    margin-top: 40px;
    background-color: grey;
    height: 60px;
    width: 100%;
    position: relative;
    bottom: 0;
 }
span{
     color: white;
     position: absolute;
     bottom: 15px;
     left: 47%;
 }